---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { humanize } from "@/lib/utils/textConverter";
import Pagination from "../../layouts/components/Pagination.astro";

export async function getStaticPaths() {
  const categories = await getTaxonomy("posts", "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage("posts");
const filterByCategory = taxonomyFilter(posts, "categories", category);
const sortedPosts = sortByDate(filterByCategory);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);

const title = humanize(category || "");
---

<Base title={title +" Category - Rust 编程教程 | 学习 Rust 语言 - Rs.BiFuBa.COM" || "Category - Rust 编程教程 | 学习 Rust 语言 - Rs.BiFuBa.COM"}>
  <div class="section">
    <div class="container">
      <p class="text-center text-2xl mb-4">Showing Posts From</p>
      <h1 class="h2 mb-16 text-center text-primary">{title}</h1>
      <Posts posts={currentPosts} fluid={false} />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </div>
</Base>
